@charset "UTF-8";
/************************************/
/* sass变量方法定义                   */
/************************************/
/************************************/
/* 布局                              */
/************************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td { margin: 0; padding: 0; }

body { font: 12px/1.2 Arial, Helvetica, sans-serif; height: 100%; color: #555; }

table { border-collapse: collapse; border-spacing: 0; }

samp { font-family: Arial, Helvetica, sans-serif; }

ol, ul, menu { list-style: none; }

a { text-decoration: none; color: #0f73b3; -webkit-transition: .3s color; }
a:hover { color: #f60; text-decoration: underline; }

img { border: none; }

em, i { font-style: normal; }

/*clear*/
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; overflow: hidden; }

/*screen*/
.wrapper { position: relative; background: url(../images/topbg.png) no-repeat #ebebeb; }

/*display*/
.db { display: block; }

.dn { display: none; }

.vh { visibility: hidden; }

.dib { display: inline-block; }

.ofh { overflow: hidden; }

/*float position*/
.fl { float: left; }

.fr { float: right; }

.pr { position: relative; }

.pa { position: absolute; }

.t0 { top: 0; }

.r0 { right: 0; }

.b0 { bottom: 0; }

.l0 { left: 0; }

/*width*/
.w50 { width: 50px; }

.w100 { width: 100px; }

.w300 { width: 300px; }

.w400 { width: 400px; }

.w640 { width: 640px; }

.wall { width: 100%; }

/*height*/
.h50 { height: 50px; }

.h100 { height: 100px; }

.h200 { height: 200px; }

.hall { height: 100%; }

/*margin*/
.ma { margin: auto; }

.mlra { margin-left: auto; margin-right: auto; }

.m10 { margin: 10px; }

.m10a { margin: 10px auto; }

/*mt*/
.mt10 { margin-top: 10px; }

/*mr*/
.mr5 { margin-right: 5px; }

.mr10 { margin-right: 10px; }

/*mb*/
.mb10 { margin-bottom: 10px; }

/*ml*/
.ml10 { margin-left: 10px; }

/*padding*/
.p10 { padding: 10px; }

/*pt*/
.pt10 { padding-top: 10px; }

/*pr*/
.pr10 { padding-right: 10px; }

/*pb*/
.pb10 { padding-bottom: 10px; }

/*pl*/
.pl10 { padding-left: 10px; }

/*line-height*/
.lh15 { padding: 15px; }

/*vertical-align*/
.middle { display: table-cell; vertical-align: middle; }

.vt { vertical-align: top; }

.vm { vertical-align: middle; }

.al { text-align: left; }

.ar { text-align: right; }

.ac { text-align: center; }

/*z-index*/
.z1 { z-index: 1; }

.z2 { z-index: 2; }

/************************************/
/* 样式                              */
/************************************/
.bold { font-weight: bold; }

.normal { font-weight: normal; }

.wbw { word-wrap: break-word; }

/*font-size*/
.f12px { font-size: 12px; }

.f1em { font-size: 1em; }

.tsd { text-shadow: 1px 1px 1px #000; }

.fwb { font-weight: bold; }

/*underline*/
.udl { text-decoration: underline; }

/*color*/
.red_pale { color: #ff6e6e; }

.red_middle { color: white; }

.red_deep { color: white; }

.black_pale { color: #333333; }

.black_middle { color: gray; }

.black_deep { color: white; }

.blue_pale { color: #38a8ff; }

.blue_middle { color: #d1ebff; }

.blue_deep { color: white; }

.yellow_pale { color: #fff364; }

.yellow_middle { color: #fffffd; }

.yellow_deep { color: white; }

.pink_pale { color: #e32143; }

.pink_middle { color: #f4a9b6; }

.pink_deep { color: white; }

.white_pale { color: white; }

.white_middle { color: white; }

.white_deep { color: white; }

.gray_pale { color: #aaaaaa; }

.gray_middle { color: #f6f6f6; }

.gray_deep { color: white; }

/*cursor*/
.cp { cursor: pointer; }
