@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, blockquote, th, td, center, header, menu, section, article{
	margin:0; padding:0;
}
h1, h2, h3, h4, h5, h6{ font-size:12px; }
body{
	zoom:1;
	font-size:24px; font-family:Arial,Helvetica,sans-serif; height:100%; color:#000; background:transparent;
	-webkit-text-size-adjust:none; -webkit-tap-highlight-color:rgba(0,0,0,0); 
}
table{ border-collapse:collapse; border-spacing:0; }
samp{ font-family:Arial,Helvetica,sans-serif; }
ol, ul, menu{ list-style:none; }
a{ text-decoration:none; }
img{ border:none; }
em, i{ font-style:normal; }
.wrapper{ position:relative; display:block; width:640px; margin:0 auto; }
/*清除*/
.clear{ clear:both; } 
.clearfix:after,
.clearfix:before,
.wrapper:after{ visibility:hidden; display:block; height:0; line-height:0; clear:both; content:""; }
/*多媒体选择*/
@media only screen and (max-device-width:320px) and (max-device-height:480px){
	.wrapper{height:862px;}
}
@media only screen and (max-device-width:320px) and (min-device-height:481px){
	.wrapper{height:1038px;}
}
@media only screen and (min-device-width:768px){
	.wrapper{height:926px;}
}

/*display*/
.db{ display:block; }
.dn{ display:none; }
.vh{ visibility:hidden; }
.dib{ display:inline-block; }
.dtc{ display:table-cell; }
.ofh{ overflow:hidden; }
/*float position*/
.fl{ float:left;}
.fr{ float:right; }
.pr{ position:relative; }
.pa{ position:absolute; }
.pa_bc{ position:absolute; width:640px; bottom:0; left:50%; margin-left:-320px; }
.content{ display:block; width:640px; height:960px; margin:0 auto; }
/*width*/
.w80{ width:80px; }
.w90{ width:90px; }
.w320{ width:320px; }
.w524{ width:524px; }
.w600{ width:600px; }
.w640{ width:640px; }
.wall{ width:100%; }
/*height*/
.h70{ height:70px; }
.h85{ height:85px; }
.h90{ height:90px; }
.h95{ height:95px; }
.h320{ height:320px; }
/*margin*/
.mlra{ margin-left:auto; margin-right:auto; }
.m10{ margin:10px; }
.m10a{margin:10px auto;}
/*上外边距*/
.mt-60{ margin-top:-60px; }
.mt-40{ margin-top:-40px; }
.mt-30{ margin-top:-30px; }
.mt-20{ margin-top:-20px; }
.mt-15{ margin-top:-15px; }
.mt-10{ margin-top:-10px; }
.mt-5{ margin-top:-5px; }
.mt0{ margin-top:0; }
.mt5{ margin-top:5px; }
.mt10{ margin-top:10px; }
.mt15{ margin-top:15px; }
.mt20{ margin-top:20px; }
.mt25{ margin-top:25px; }
.mt30{ margin-top:30px; }
.mt40{ margin-top:40px; }
.mt50{ margin-top:50px; }
.mt70{ margin-top:70px; }
.mt80{ margin-top:80px; }
.mt90{ margin-top:90px; }
.mt106{ margin-top:106px; }
/*右外边距*/
.mr5{ margin-right:5px; }
.mr10{ margin-right:10px; }
.mr15{ margin-right:15px; }
.mr20{ margin-right:20px; }
.mr25{ margin-right:25px; }
.mr30{ margin-right:30px; }
.mr40{ margin-right:40px; }
.mr50{ margin-right:50px; }
/*下外边距*/
.mb-20{ margin-bottom:-20px; }
.mb-40{ margin-bottom:-40px; }
.mb5{ margin-bottom:5px; }
.mb10{ margin-bottom:10px; }
.mb15{ margin-bottom:15px; }
.mb20{ margin-bottom:20px; }
.mb25{ margin-bottom:25px; }
.mb74{ margin-bottom:74px; }
/*左外边距*/
.ml5{ margin-left:5px; }
.ml10{ margin-left:10px; }
.ml15{ margin-left:15px; }
.ml20{ margin-left:20px; }
.ml25{ margin-left:25px; }
.ml30{ margin-left:30px; }
.ml50{ margin-left:50px; }
.ml60{ margin-left:60px; }
.ml70{ margin-left:70px; }
.ml100{ margin-left:100px; }
.ml110{ margin-left:110px; }
/*padding*/
.p5{ padding:5px; }
.p10{ padding:10px;}
/*上内边距*/
.pt10{ padding-top:10px; }
.pt70{ padding-top:70px; }
.pt90{ padding-top:90px; }
/*右内边距*/
.pr20{ padding-right:20px; }
.pr60{ padding-right:60px; }
/*下内边距*/
.pb10{ padding-bottom:10px; }
.pb20{ padding-bottom:20px; }
.pb30{ padding-bottom:30px; }
.pb70{ padding-bottom:70px; }
/*左内边距*/
.pl80{padding-left:80px; }
/*line-height*/
.lh38{ line-height:38px; }
.lh50{ line-height:50px; }
.lh75{ line-height:75px; }
/*vertical-align*/
.vt{ vertical-align:top; }
.vm{ vertical-align:middle; }
.al{ text-align:left; }
.ar{ text-align:right; }
.ac{ text-align:center; }
.mlr0{ margin-left:auto; margin-right:auto; }
.dib{ display:inline-block; }
.db{ display:block; }
.dn{ display:none; }
.bold{ font-weight:bold; }
.normal{ font-weight:normal; }
.wbw{ word-wrap:break-word; }
/*font-size*/
.f16{ font-size:16px; }
.f20{ font-size:20px; }
.f22{ font-size:22px; }
.f24{ font-size:24px; }
.f28{ font-size:28px; }
.fs36{ font-size:36px; }
.tsd{ text-shadow:1px 1px 1px #000; }
.fwb{ font-weight:bold; }
/*color*/
.color_black{ color:#000; }
.color_blue{ color:#0076d1; }
.color_yellow{ color:#fde900; }
.color_pink{ color:#8c1227; }
.color_white{ color:#fff; }
.color_gray{ color:#777; }
.color_gray01{ color:#a6a6a6; }
/*backgroundcolor*/
.bgcyan_blue{ background:#31cbb3; }
.bglpink{ background:#f78c9e; }
.bgpink{ background:#ee7086; }
.bghpink{ background:#b53c4f; }
.bgpinkjb{ background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#fd7792),color-stop(1,#e04376)); }
.bgwhite{ background:#fff; }
.bgyellow{ background:#e0b041; }
.bglyellow{ background:#e4bc4a; }
.bgblack{ background:#000; }
/*z-index*/
.z1{ z-index:1; }
.z2{ z-index:2; }
.z3{ z-index:3; }
.z4{ z-index:4; }
.z5{ z-index:5; }
.middle{ display:table-cell; vertical-align:middle; }