@charset "UTF-8";
/* sass变量方法定义                   */
/* 抽象模块                          */
.w960, .head, .maincontent, .foot .in { width: 960px; margin-left: auto; margin-right: auto; }

.i_cup, .m h2 i, .m1 h2 i, .m2 h2 i, .m4 h2 i, .m3 dt i { background: url(../images/i_cup.gif) no-repeat center; width: 24px; height: 40px; }

.i_arr1, .i_arr1.up { background: url(../images/i_arr1.png); width: 13px; height: 13px; display: inline-block; vertical-align: middle; }

.up.i_arr1 { background-position: -26px 0; }

.i_arr2, .i_arr2.down { background: url(../images/i_arr2.png); width: 7px; height: 8px; display: inline-block; }

.down.i_arr2 { background-position: -7px 0; }

.ell, .m3 .info div p, .activity li dt { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.star, .star_0, .star_1, .star_2, .star_3, .star_4, .star_5, .star_half, .star_1half, .star_2half, .star_3half, .star_4half { background: url(../images/stars.png) no-repeat; display: inline-block; width: 75px; height: 13px; overflow: hidden; }

.star_0 { background-position: -78px -52px; }

.star_1 { background-position: -64px -52px; }

.star_2 { background-position: -49px -52px; }

.star_3 { background-position: -34px -52px; }

.star_4 { background-position: -19px -52px; }

.star_5 { background-position: -4px -52px; }

.star_half { background-position: -64px -70px; }

.star_1half { background-position: -49px -70px; }

.star_2half { background-position: -34px -70px; }

.star_3half { background-position: -19px -70px; }

.star_4half { background-position: -4px -70px; }

.star2 { width: 130px; height: 25px; background: url(../images/star2.png) 0 25px; position: relative; }
.star2 a { position: absolute; top: 0; left: 0; height: 25px; }
.star2 a:hover { background: url(../images/star2.png) 0 25px; }
.star2 a.on { background: url(../images/star2.png) 0 25px; }
.star2 .star2-1 { width: 25px; z-index: 5; }
.star2 .star2-1:hover { background-position: 0 -120px; }
.star2 .star2-1.on { background-position: 0 -120px; }
.star2 .star2-2 { width: 51px; z-index: 4; }
.star2 .star2-2:hover { background-position: 0 -90px; }
.star2 .star2-2.on { background-position: 0 -90px; }
.star2 .star2-3 { width: 77px; z-index: 3; }
.star2 .star2-3:hover { background-position: 0 -60px; }
.star2 .star2-3.on { background-position: 0 -60px; }
.star2 .star2-4 { width: 103px; z-index: 2; }
.star2 .star2-4:hover { background-position: 0 -30px; }
.star2 .star2-4.on { background-position: 0 -30px; }
.star2 .star2-5 { width: 129px; z-index: 1; }
.star2 .star2-5:hover { background-position: 0 0; }
.star2 .star2-5.on { background-position: 0 0; }

.bdc, .news, .m, .m1, .m2, .m4, .com-info .com-info-side, .com-info .com-info-m .com-info-m-t, .activity li { background: #fff; border: 1px solid #cbcbcb; }

.btn { background: #78d822; color: #fff; padding: 2px 6px; border-radius: 3px; }
.btn:hover { background: #92e34a; text-decoration: none; }

.btn.gray { background: gray; color: #bbb; }

.btn2 { background: url(../images/btn.png); width: 86px; height: 30px; line-height: 30px; display: inline-block; text-align: center; color: #fff; font-size: 14px; border: none; outline: none; }
.btn2:hover { background-position: 0 -30px; }

.head .user { text-align: right; padding: 10px 0; }
.head .user a { padding-left: 5px; }
.head .logo { float: left; *display: inline; width: 298px; height: 81px; background: url(../images/logo.png); }
.head .search { float: right; width: 442px; margin-top: 33px; }
.head .search input[type="text"] { float: left; *display: inline; width: 335px; height: 38px; border: 1px solid #ccc; background: #fff; outline: none; text-indent: 2em; font-size: 14px; }
.head .search input[type="submit"] { float: right; *display: inline; background: url(../images/search.png); border: 0; width: 105px; height: 40px; cursor: pointer; border-radius: 0px; outline: none; }
.head .search input[type="submit"]:active { background-position: 0 -80px; }
.head .search input[type="submit"]:hover { background-position: 0 -40px; }
.head .nav { margin-top: 10px; background: url(../images/nav-bg.png); }
.head .nav a { width: 106px; height: 50px; line-height: 50px; font-size: 16px; color: #fff; text-align: center; margin-top: 1px; float: left; }
.head .nav a:hover { color: #f7b000; text-decoration: none; }
.head .nav .cur { background-image: url(../images/nav-current.jpg); color: #f7b000; }

.category { border: 1px solid #cfcfcf; border-top: 3px solid #E9A90E; font-size: 13px; padding: 8px 24px; background-color: white; margin: -20px 0 20px; }
.category .catlist { overflow: hidden; zoom: 1; }
.category strong { font-size: 15px; color: #067dba; padding-right: 16px; position: relative; float: left; line-height: 28px; _display: inline; }
.category s { width: 0; height: 0; font-size: 0; line-height: 0; border: 5px solid transparent; _border-color: black; _filter: chroma(color=black); border-left: 5px solid #067dba; position: absolute; left: 40px; top: 8px; }
.category .linkbox { overflow: hidden; zoom: 1; padding-left: 6px; padding-top: 4px; padding-bottom: 4px; line-height: 20px; }
.category .linkbox a.loc-selected span { color: #ffb600; }
.category .linkbox a:hover { text-decoration: underline; }
.category .linkbox a { color: #363839; margin-left: 8px; overflow: hidden; float: left; white-space: nowrap; _display: inline; }
.category .linkbox span { float: left; margin-left: 8px; }

.breadcrumb { background: url(../images/breadcrumb.png); height: 37px; line-height: 39px; border-bottom: 1px solid #cbcbcb; position: relative; }
.breadcrumb dt { padding-left: 10px; float: left; height: 37px; background: url(../images/breadcrumb-bg.jpg) repeat-x; display: inline-block; }
.breadcrumb strong { font-size: 14px; color: #067dba; }
.breadcrumb a { color: #067dba; }
.breadcrumb dd { float: left; width: 32px; height: 37px; background: url(../images/breadcrumb-i.png) no-repeat scroll 0 -2px transparent; }

.news { padding: 15px; border-top: none; }
.news li { overflow: hidden; border-bottom: 1px dotted #cbcbcb; margin-bottom: 15px; padding-bottom: 15px; }
.news li .news-img { float: left; }
.news li .news-img img { border: 1px solid #cbcbcb; padding: 2px; width: 125px; height: 90px; }
.news li dl { float: left; margin-left: 15px; width: 775px; }
.news li dl dt { color: #067dba; font-size: 14px; padding: 5px 0; text-decoration: none; }
.news li dl dd { color: #5f5f5f; line-height: 20px; margin-bottom: 10px; text-indent: 2em; }

.news-info { padding: 20px; line-height: 1.5; }
.news-info h2 { border-bottom: 1px dotted #cbcbcb; font-family: 微软雅黑; text-align: center; font-size: 20px; color: #3f3e3e; padding-bottom: 20px; margin-bottom: 10px; }

.maincontent { margin: 20px auto; }

.m, .m1, .m2, .m4 { margin-bottom: 10px; }
.m h2, .m1 h2, .m2 h2, .m4 h2 { background: url(../images/title.png) repeat-x; height: 39px; line-height: 39px; padding-left: 8px; border-bottom: 1px solid #cdcdcd; }
.m h2 b, .m1 h2 b, .m2 h2 b, .m4 h2 b { font-size: 14px; font-weight: bold; color: #0f81bc; }
.m h2 i, .m1 h2 i, .m2 h2 i, .m4 h2 i { float: left; margin-left: 5px; }

.m1 ul { margin: 0 0 15px -15px; }
.m1 li { width: 106px; text-align: center; float: left; cursor: pointer; display: inline; margin: 15px 0 0 15px; overflow: hidden; }
.m1 img { width: 60px; height: 60px; }
.m1 h3 { font-size: 14px; line-height: 25px; }

.m2 ul { margin: 0 0 15px 0; }
.m2 li { float: left; display: inline; margin: 15px 0 0 15px; overflow: hidden; width: 221px; height: 125px; position: relative; }
.m2 a { display: block; color: #fff; text-align: center; }
.m2 a:hover p { bottom: 0; }
.m2 img { width: 221px; height: 125px; display: block; }
.m2 p { -webkit-transition: .3s bottom; position: absolute; bottom: -30px; left: 0; width: 221px; font-size: 14px; line-height: 30px; background-color: rgba(0, 0, 0, 0.6); filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000', endColorstr='#99000000'); }

.m3 { margin: 0 0 10px -10px; }
.m3 dl { float: left; display: inline; width: 473px; margin: 10px 0 0 10px; border: 1px solid #cdcdcd; background: #fff; }
.m3 dt { background: url(../images/title.png) repeat-x; height: 39px; line-height: 39px; padding-left: 8px; border-bottom: 1px solid #cdcdcd; }
.m3 dt b { font-size: 14px; font-weight: bold; color: #0f81bc; }
.m3 dt i { float: left; margin-left: 5px; }
.m3 .info { padding: 10px; }
.m3 .info img { width: 60px; height: 60px; float: left; margin-right: 10px; }
.m3 .info div { width: 350px; float: left; }
.m3 .info div a { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; font-size: 14px; font-weight: 700; }
.m3 .info div p { text-indent: 2em; line-height: 1.9; margin-top: 5px; height: 44px; overflow: hidden; }
.m3 .list a { float: left; *display: line; width: 220px; font-size: 14px; padding: 5px 0; margin-left: 10px; }

.m4 ul { margin: 0 0 15px 0px; }
.m4 li { float: left; *display: inline; margin: 15px 0 0 20px; }
.m4 a { display: block; width: 170px; overflow: hidden; }
.m4 a img { width: 60px; height: 60px; float: left; }
.m4 a p { float: left; font-size: 14px; padding: 22px 0 0 10px; }

.com-nav { float: left; margin-right: 10px; width: 158px; background: #EFF1F2; }
.com-nav h2 { border-top: 2px solid #4EB2FA; background: white url(../images/i_menu.png) no-repeat 32px center; text-indent: -11px; text-align: center; color: #666; font-size: 14px; height: 35px; line-height: 35px; }
.com-nav a { display: block; height: 30px; line-height: 30px; padding-left: 30px; color: #333; }
.com-nav a:hover { background: #52b9fb; color: #fff; text-decoration: none; }
.com-nav a i { padding-right: 10px; }

.com-m { float: left; width: 790px; }
.com-m h2 { background: #4EB2FA; border-radius: 3px 3px 0 0; font-size: 14px; height: 38px; line-height: 38px; color: #fff; }
.com-m h2 i { float: left; padding: 0 15px; }
.com-m h2 s { float: left; text-decoration: none; height: 38px; }
.com-m h2 s a { color: #fff; font-size: 12px; padding: 0 7px; }
.com-m h2 s a:hover { color: #555; background: #fff; text-decoration: none; }

.com-list li { overflow: hidden; zoom: 1; color: #666; padding: 14px 0 18px; border-bottom: 1px dashed #e9e8d5; -webkit-transition: .3s; }
.com-list li:hover { background-color: #f8f8f8; }
.com-list li .left { float: left; padding: 10px; }
.com-list li .left img { width: 48px; height: 48px; }
.com-list li .center { float: left; width: 600px; line-height: 1.5; }
.com-list li .center .center_top { height: 32px; line-height: 32px; }
.com-list li .center .center_top i { margin: 0 5px; vertical-align: middle; }
.com-list li .right { float: right; margin-right: 20px; }
.com-list li .right_top { margin: 20px 0 10px; }
.com-list li .beRecommend { margin: 0 4px; }

.com-info .com-info-side { float: left; width: 220px; padding: 15px; line-height: 1.5; }
.com-info .com-info-side dl { overflow: hidden; margin-bottom: 10px; }
.com-info .com-info-side dl dt { float: left; margin-right: 20px; }
.com-info .com-info-side dl dt img { display: block; width: 72px; height: 72px; }
.com-info .com-info-side dl dd { float: left; width: 127px; line-height: 1.4; }
.com-info .com-info-side dl dd .name { color: #342e27; font-size: 14px; font-weight: bold; padding-bottom: 5px; }
.com-info .com-info-m { float: right; width: 695px; }
.com-info .com-info-m h2 { background: url(../images/title.png) repeat-x; height: 39px; line-height: 39px; padding-left: 8px; border-bottom: 1px solid #cdcdcd; font-size: 14px; font-weight: bold; color: #0f81bc; }
.com-info .com-info-m .com-info-m-t { margin-bottom: 20px; }
.com-info .com-info-m .com-info-m-t img { width: 693px; display: block; }

.com-pose { background: #f6f6f6; border: 1px solid #cbcbcb; overflow: hidden; }
.com-pose form { float: left; }
.com-pose form textarea { resize: none; border: 1px solid #cbcbcb; display: block; outline: 0; overflow: auto; width: 330px; height: 113px; padding: 10px; }
.com-pose dl { float: left; margin-left: 10px; }
.com-pose dl dt { overflow: hidden; padding-bottom: 10px; }
.com-pose dl dd { overflow: hidden; }
.com-pose dl i { float: left; width: 100px; text-align: right; height: 30px; line-height: 30px; }
.com-pose dl p { float: left; }
.com-pose .submit { padding: 5px 10px; }

.rate-list li { margin: 10px; border-bottom: 1px solid #F1F0F0; overflow: hidden; line-height: 1.3; padding: 10px; }
.rate-list li .info { float: left; width: 540px; }
.rate-list li .info s { text-decoration: none; display: block; color: #ccc; font-weight: 400; }
.rate-list li .name { float: right; text-align: right; }
.rate-list li:last-child { border-bottom: none; }

.mpager { text-align: center; margin: 20px 0; }
.mpager a { display: inline-block; padding: 3px 6px; border: 1px solid #d3d3d3; color: #666; margin-right: 5px; border-radius: 2px; }

.foot { height: 36px; line-height: 36px; overflow: hidden; color: #363839; background: url(../images/title.png) repeat-x; }
.foot .in i { float: left; margin: 10px 0 0 -10px; }
.foot .in a { float: left; height: 15px; line-height: 15px; border-right: 1px solid #222; padding: 0 10px; }
.foot .in cite { float: right; font-style: normal; }

.merror { border: 1px solid red; }

.activity { overflow: hidden; margin-left: -10px; }
.activity li { float: left; width: 210px; padding: 10px; margin: 0 0 10px 10px; }
.activity li img { width: 210px; height: 150px; }
.activity li dt { font-size: 14px; line-height: 30px; text-align: center; }
.activity li dd { line-height: 1.6; height: 38px; overflow: hidden; }

.sorts-tab { height: 32px; line-height: 32px; border-bottom: 1px solid #e3e3e3; border-top: 0; background-color: #f2f2f2; }
.sorts-tab a { float: left; padding: 0 10px; text-decoration: none; cursor: pointer; border-left: 1px solid whiteSmoke; border-right: 1px solid #e5e5e5; color: #404040; font-size: 12px; font-weight: 400; }
.sorts-tab a:hover, .sorts-tab a.on { color: #f60; background-color: #fff; text-decoration: none; }
.sorts-tab a:hover .i_arr2, .sorts-tab a.on .i_arr2 { background-position: -21px 0; }
.sorts-tab a:hover .i_arr2.up, .sorts-tab a.on .i_arr2.up { background-position: -14px 0; }
.sorts-tab a s { text-decoration: none; color: #999; }
.sorts-tab a i { margin: 0 2px; }
.sorts-tab a ul { position: relative; left: 0; top: -32px; }
