.awidth{
    widht:100px;
}
.mheader{
    height: 200px;
}
.maincontent{
    min-height: 600px;
}
.mfooter{
    width: 100%;
    min-height: 200px;
}
.merror{
    border: 1px solid red;
}

.mlist_abstract{
    .line{
        clear:both;
        margin:10 0 10 0;
        height: 100px;
        .img{
            img{
                height:100px;
                width:100px;
            };
            float:left;
            height: 100px;
            width: 100px;
        };
        .info{
            float:left;
            width: 100px;
            .title{

            };
            .abstract{

            };
        }
    };

}