/************************************/
/* sass变量方法定义                   */
/************************************/
$screen_width : 100%;
$black : #000;
$blue :  #0076d1;
$yellow : #fde900;
$pink :  #8c1227;
$white : #fff;
$gray :  #777;

/************************************/
/* 布局                              */
/************************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, blockquote, th, td, center, header, menu, section, article{
    margin: 0;
    padding: 0;
}
body{
    zoom: 1;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    color: #000;
    background: transparent;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
samp{
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul, menu{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: none;
}
em, i{
    font-style: normal;
}
.maindiv{
    position: relative;
    display: block;
    width: $screen_width;
    margin: 0 auto;
}
/*clear*/
.clear{
    clear: both;
}
.clearfix:after,
.clearfix:before{
    visibility: hidden;
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    content: "";
}
/*screen*/
// @media only screen and (max-device-width:320px) and (max-device-height:480px){
//     .wrapper{
//         height: 862px;
//     }
// }
// @media only screen and (max-device-width:320px) and (min-device-height:481px){
//     .wrapper{
//         height: 1038px;
//     }
// }
// @media only screen and (min-device-width:768px){
//     .wrapper{
//         height: 926px;
//     }
// }
/*display*/
.db{
    display: block;
}
.dn{
    display: none;
}
.vh{
    visibility: hidden;
}
.dib{
    display: inline-block;
}
.ofh{
    overflow: hidden;
}
/*float position*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
/*width*/
@each $v in 50, 100, 300, 640, all{
    .w#{$v} {
        @if $v==all{
            width: 100%;
        }@else{
            width: #{$v}px;
        }
    }
}
/*height*/
@each $v in 50, 100, all{
    .h#{$v} {
        @if $v==all{
            height: 100%;
        }@else{
            height: #{$v}px;
        }
    }
}
/*margin*/
.ma{
    margin: auto;
}
.mlra{
    margin-left: auto;
    margin-right: auto;
}
@each $v in 10{
    .m#{$v} {
        margin: #{$v}px;
    }
    .m#{$v}a {
        margin: #{$v}px auto;
    }
}
/*mt*/
@each $v in 10{
    .mt#{$v} {
        margin-top: #{$v}px;
    }
}
/*mr*/
@each $v in 10{
    .mr#{$v} {
        margin-right: #{$v}px;
    }
}
/*mb*/
@each $v in 10{
    .mb#{$v} {
        margin-bottom: #{$v}px;
    }
}
/*ml*/
@each $v in 10{
    .ml#{$v} {
        margin-left: #{$v}px;
    }
}
/*padding*/
@each $v in 10{
    .p#{$v} {
        padding: #{$v}px;
    }
}
/*pt*/
@each $v in 10{
    .pt#{$v} {
        padding-top: #{$v}px;
    }
}
/*pr*/
@each $v in 10{
    .pr#{$v} {
        padding-right: #{$v}px;
    }
}
/*pb*/
@each $v in 10{
    .pb#{$v} {
        padding-bottom: #{$v}px;
    }
}
/*pl*/
@each $v in 10{
    .pl#{$v} {
        padding-left: #{$v}px;
    }
}
/*line-height*/
@each $v in 15{
    .lh#{$v} {
        padding: #{$v}px;
    }
}
/*vertical-align*/
.middle{
    display: table-cell;
    vertical-align: middle;
}
.vt{
    vertical-align: top;
}
.vm{
    vertical-align: middle;
}
.al{
    text-align: left;
}
.ar{
    text-align: right;
}
.ac{
    text-align: center;
}
/*z-index*/
@each $v in 1,2{
    .z#{$v} {
        z-index: #{$v};
    }
}

/************************************/
/* 样式                              */
/************************************/
.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
.wbw{
    word-wrap: break-word;
}
/*font-size*/
@each $v in 12px,1em{
    .f#{$v} {
        font-size: #{$v};
    }
}
.tsd{
    text-shadow: 1px 1px 1px #000;
}
.fwb{
    font-weight: bold;
}
/*underline*/
.udl{
    text-decoration: underline;
}
/*color*/
.black{
    color: $black;
}
.blue{
    color: $blue;
}
.yellow{
    color: $yellow;
}
.pink{
    color: $pink;
}
.white{
    color: $white;
}
.gray{
    color: $gray;
}
